@import url("https://fonts.googleapis.com/css2?family=Arizonia&family=Girassol&display=swap");

@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("gilroy-extrabold.eot");
  src: url("gilroy-extrabold.eot?#iefix") format("embedded-opentype"),
    url("gilroy-extrabold.woff2") format("woff2"),
    url("gilroy-extrabold.woff") format("woff"),
    url("gilroy-extrabold.ttf") format("truetype");
}
:root {
  --font-arizonia: "Arizonia";
  --font-girassol: "Girassol";
  --font-gilroy: "Gilroy-ExtraBold";
  --color-background: radial-gradient(#d52a1b, #331215);
  --color-divider: linear-gradient(#d28b55, #eea76e, #f5cd9c, #d6915b, #f5cd9c);
  --color-yellow: #facd99;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-yellow {
  color: var(--color-yellow);
}

.text-white {
  color: white;
}

.uppercase {
  text-transform: uppercase;
}

.pattern {
  position: absolute;
  z-index: -1;
  width: 100%;
}

body {
  min-height: 100vh;
  background-color: #333;
  display: grid;
  place-items: center;
}

.menu {
  position: relative;
  width: 400px;
  height: 600px;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.menu .front,
.menu .back {
  transition: transform 500ms linear;
  position: absolute;
}

.front {
  pointer-events: none;
  background: var(--color-background);
  z-index: 2;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  padding-block: 2rem;
  transform-origin: left;
}

.menu:hover .front,
.menu:focus-within .front {
  transform: rotateY(-180deg);
}

.front > * {
  transition-delay: 300ms;
}

.menu:hover .front > *,
.menu:focus-within .front > * {
  transform: scaleX(-1);
}

.front .cover {
  position: relative;
  z-index: 2;
  width: 80%;
}

.front header h1 {
  font-family: var(--font-girassol);
  color: white;
  letter-spacing: 10px;
  font-size: 5rem;
  line-height: 0.8;
}

.front header h3 {
  font-family: var(--font-arizonia);
  font-size: 1.5rem;
}

.front footer p:nth-child(1) {
  font-size: 1.3rem;
  letter-spacing: 1.2px;
}

.front footer p {
  line-height: 1.5;
  font-family: var(--font-gilroy);
  font-size: 0.7rem;
}

.front .line {
  position: absolute;
  background: var(--color-divider);
  --y: 85%;
}

.front .line--left {
  height: var(--y);
  left: 5%;
  width: 2px;
}

.front .line--right {
  position: absolute;
  height: var(--y);
  right: 5%;
  width: 2px;
}

.front .line--top {
  height: 2px;
  top: 3%;
  width: var(--y);
}

.front .line--bottom {
  height: 2px;
  bottom: 3%;
  width: var(--y);
}

.back {
  width: 100%;
  height: 100%;
  background: var(--color-background);
  padding-inline: 1rem;
  padding-block: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.back header {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.back header img {
  width: 6rem;
  object-fit: cover;
}

.back h2 {
  font-family: var(--font-arizonia);
  color: var(--color-yellow);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.back h1 {
  line-height: 1;
  font-family: var(--font-girassol);
}

.divider {
  width: 100%;
  height: 2px;
  background: var(--color-divider);
}

.title {
  font-family: var(--font-gilroy);
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 1.5px;
}

.product-list--small {
  height: 8em;
  display: grid;
  grid-template-columns: 1fr 1fr 100px;
  grid-template-rows: 20px auto;
  gap: 0.3rem;
}

.product-list--small img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-column: 3;
  grid-row: 1/-1;
}

ul {
  list-style-type: none;
}

ul > * {
  margin-block: 0.4rem;
}

.product-list--small .first-list {
  grid-column: 1;
  grid-row: 2;
}

.product-list--small .second-list {
  grid-row: 2;
}

.product-title {
  color: var(--color-yellow);
  font-family: var(--font-gilroy);
  text-transform: uppercase;
  font-size: 0.8rem;
}

.product-description {
  font-family: var(--font-arizonia);
  font-size: 0.7rem;
}

.product-list--big {
  margin-block-start: 1rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 0.7fr 0.5fr;
}

.product-list--big img {
  width: 100%;
  height: 100%;
}

.drinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.drinks li {
  color: var(--color-yellow);
  font-family: var(--font-gilroy);
}
